# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# Node / Next.js
node_modules/
.next/
out/
.env.local
npm-debug.log*

# Django
backend/media/
backend/staticfiles/
*.sqlite3

# Logs
*.log

# OS
.DS_Store
Thumbs.db
